@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination-bullet-active {
  color: rgb(255, 255, 255) !important;
  background: #fcfcfc96 !important;
}
.swiper-pagination-bullet {
  color: rgb(255, 255, 255) !important;
  background: #fcfcfc96 !important;
}

.swiper-button-next, .swiper-button-prev {
  background: rgb(255, 255, 255);
  border-radius: 100%;
  width: 100px !important; 
  height: 100px !important;
  /* padding: 50px; */
  scale: 40%;
  top: 40% !important;
  right: -7% !important;
  
  display: flex !important;
}

.swiper-button-prev{
left: -7% !important;
}
.swiper-button-next, .swiper-button-prev::after {
  content: 'next';
   /* width: 100px !important; 
  height: 100px !important; */
  
}
.mySwiper {
  background: #000;
}
